.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a{
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}

.App-header a:hover{
  text-decoration: underline;
}

.App-link {
  color: #09d3ac;
}
